# Virtual Environment
venv/
.venv/
env/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# User Configuration
config.json

# Local Uploads and media files (ignore all user media files)
uploads/

# IDE / System files
.vscode/
.idea/
Thumbs.db
Desktop.ini
